<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <title>Edit weekly</title>
  </head>
  <body>
    {% include "nav.html" %}
    <div id="EditWrapper">
      <h2>Editing {{ weekly.week_str }}</h2>
      <form id="EditView" action="{{ url_for("edit", session_user + "/" + weekly.date_str) }}" method="post">
        <div>
          <textarea name="content">{{ weekly.content }}</textarea>
        </div>
        <div>
          <input type="submit" value="Save" />
        </div>
      </form>
    </div>
    <!-- <div id="Weeklies"> -->
    <!-- </div> -->
  </body>
</html>
