<aside class="ReviewRubric" tabindex="0" aria-labelledby="RubricTitle">
  <h3 id="RubricTitle">Scoring rubric</h3>
  <p>For all dimensions, the score is 1–10, where 5 means average,
    “just normal”.</p>
  <dl>
    <dt>Story/Lore</dt>
    <dd id="Rubric-story">Story is what the game actively shows you.
      Example: Mario rescues Peach. Lore is the underlying background
      setting of the world, as well as untold NPC background, etc. The
      score reflects how well the game tells the story/lore, and how good
      the story/lore is. 5 means the story/lore does not add anything to
      the game, nor undermines it. Example of 5: Overwatch...</dd>
    <dt>Gameplay</dt>
    <dd id="Rubric-gameplay">The score reflects how fun the game plays.
      This is a really hard dimension, because for a lot of games it
      intertwines with all other dimensions. For example for Doki Doki
      Literature Club, the game play does not come from you actively
      operating the character, but the story itself. For these games the
      game play score could be an overall reflection of these dimensions.
      For other “normal” games that the player actively engages with,
      this score reflects how good the control is, how impactful the
      actions are, how clever the puzzles are, etc.</dd>
    <dt>Graphics</dt>
    <dd id="Rubric-graphics">This dimension is scored “in context”. I.e.
      Zelda Breath of the Wild would get a 10, not because it has better
      graphics than Control on PC, but because it reflects the best
      balance between style and performance on the Switch. In the same
      spirit, 2D games are not scored by the same standards as 3D games
      are.</dd>
    <dt>Audio</dt>
    <dd id="Rubric-audio">This score reflects how good the audio effects
      and ambience are, as well as how good the music is, if any.</dd>
    <dt>Special</dt>
    <dd id="Rubric-special">This is a completely subjective dimension.
      It reflects how I personally feel about a game. Example: Xenoblade
      Chronicles 2 gets a 10, because it has to be the bestest game ever
      created, otherwise there is something wrong with the fundamental
      laws of the universe, meh meh! 5 means I do not feel anything
      special about this game.</dd>
    <dt>Overall</dt>
    <dd>This is a weighted average of the dimensions above. Currently
      gameplay weighs twice as much as other dimensions. Ideally, if I
      randomly sample games, the average overall score should be 5. But
      obviously in this sheet the average will be greater than 5, because
      I tend not to play bad games. But in any case, a game scored greater
      than 5 should be a commendable one.</dd>
  </dl>
</aside>
