<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <meta property="og:title" content="Album: {{ username }}’s Weeklies" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ this_url }}" />
    <title>Weeklies</title>
  </head>
  <body>
    {% include "nav.html" %}
    <div id="Weeklies">
      {% for p in weeklies %}
      <section class="Weekly{% if length(p.content) == 0 %} EmptyWeekly{%- endif %}"
               {% if length(p.content) > 0 %}lang="{{ p.lang }}"{% endif %}>
        <header>
          <h2 title="{{ p.week_begin }} – {{ p.week_end }}">{{ p.week_str }}</h2>
          <div class="hrule"></div>
          {% if p.author == session_user %}
          <div class="BtnEdit"><a href="{{ url_for("edit", p.author + "/" + p.date_str) }}">
              {%- if length(p.content) > 0 -%}
              Update
              {% else %}
              Write
              {%- endif -%}
          </a></div>
        {% endif %}
        </header>
        <div class="Metadata">{%- if length(p.content) > 0 -%}
          {{ p.week_begin }} – {{ p.week_end }}
          @{{ p.update }} by {{ p.author }}{% endif %} </div>
        <div>{{ p.content }}</div>
      </section>
      {% endfor %}
    </div>
  </body>
</html>
